#!/usr/bin/env python

import glob

from setuptools import setup

with open('requirements.txt') as f:
    requirements = f.read().splitlines()

with open('VERSION') as f:
    version = f.read()

data_files = [
    ('etc', glob.glob('etc/*')),
]
scripts = glob.glob('bin/*')

setup(
    name='{{ python_package_name }}',
    version=version,
    description='The {{ api_name_hyphenated }} API for SRCNet.',
    url='',
    author='rob barnsley',
    author_email='rob.barnsley@skao.int',
    packages=['{{ python_package_name }}.rest', '{{ python_package_name }}.common', '{{ python_package_name }}.client',
              '{{ python_package_name }}.models'],
    package_dir={'': 'src'},
    data_files=data_files,
    scripts=scripts,
    include_package_data=True,
    install_requires=requirements,
    classifiers=[]
)
